.Rproj.user
.Rhistory
.RData
_publish.R
_book
_bookdown_files
rsconnect
.directory
data/*
prioritizr-workshop-manual.Rmd
prioritizr-workshop-manual-teaching.Rmd
prioritizr-workshop-manual_files
prioritizr-workshop-manual-teaching_files
Rplots.pdf
