language: r
cache: packages
pandoc_version: 1.19.2.1

env:
  global:
    - secure: "ef9ntarzpbPKaHpJlxTVqIfb4iizvtoAoF3270F2xglHTbdZRg5hyOPgft7TpaBniEfOkMvbXDk2WMTySi+xeSoMc7UlakpKiGpjuXmj00J6zc3QgXqi/kSAEsv52Uyx65G086NOFe0Rn2RDLqaAR9jeOpCXG/jPkER11mCmsYjChwTsn0IBxkOAcnMU6eggx46cPD1EOLI521L2+DtcjQ6z0ySKc6/lWbGwDm5XwY7DnI1ZcNpzLBREpcv4M5BCb+9F/rizDMrLPM1XnkuIda7zUX8NnX7RCmrJDra6c4r/czjEJNCX6cbQQFHe/W3RlU68vygAdloFxO2sDRGIdcP5IgGAPXS/vU9b8LP1BxDcL44IgxMyuf7wxD9n5gWUukGqNm8mbI86kTFBojc9+6eAlZuNGL3NP+tVpp3TcmzO8yO7LahPese+UW0Ur+GCLEqk8j4lKEA20snUugLXJGPAKmjAodLTNX7ehlTGgWQQX72HNlCEtylPhsR4NXbI1Ij+jslygv1YtYZrti1ohxCKWzPLXSH7GV6i3EeJbvXHqXwQQOWtUwexDMEQor7nCNQDFPewxNK/10juSvDmoFlKhbDxXdAferSVcMWPjcybuAWn/Gd8AYoJhYHfhApd+W18JewGRI4piqYmHv/ETs/t9fS56CNEN/wMWC3Ynq8="

before_install:
  - sudo fallocate -l 10G /swapfile && sudo chmod 600 /swapfile && sudo mkswap /swapfile && sudo swapon /swapfile
  - sudo add-apt-repository -y ppa:ubuntugis/ubuntugis-unstable
  - sudo apt-get update
  - sudo apt-get install libudunits2-dev libgdal-dev libgeos-dev libproj-dev r-r-api-3 cran-rsymphony

before_script:
  - chmod +x ./_build.sh
  - chmod +x ./_deploy.sh

script:
  - ./_build.sh
  - ./_deploy.sh

notifications:
  email:
    on_success: change
    on_failure: change
